body, html {
    
}

.bg1 { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.span1{
	color: white;
}

.span2{
	color: white;
}

h2{
	color: white;
}

tbody{
	color: white;
}